<p style="color: green"><%= notice %></p>
<br>
<br>
<h1 class="display-1">Notebook Finder</h1>
<br>
<h2>
  <a href= <%= new_search_path %>>
    <button type="button" class="btn btn-primary btn-lg">
      Buscador de computadores personalizado
    </button>
  </a>
</h2>

<br/>
<br/>
<br/>
<img src="https://i.dell.com/is/image/DellContent//content/dam/global-site-design/product_images/dell_client_products/notebooks/latitude_notebooks/latitude_15_9520/general/la9520nt_cnb_00055lf110_gy_5000x5000_gettyimages-1088317948_revised.psd?fmt=png-alpha&pscan=auto&scl=1&hei=402&wid=654&qlt=100,0&resMode=sharp2&size=654,402"
class="rounded mx-auto d-block">


