<br>
<h1 class="display-2">Hecho por Joaquín Oportus</h1>
<br/>
<h2><%= link_to 'Github', 'https://github.com/joportus'%></h2>
<br/>
<blockquote class="blockquote text-justify">
  <h3 class="display-6">Esta página web toma datos de computadores en solotodo y se actualiza automáticamente.
    El propósito de esta página es simplificar aún más la busqueda de computadores. Solo necesitas saber para qué
    vas a usar el computador y cuanto presupuesto tienes!
  </h3>
</blockquote>


