<br>
<h1 class="display-2">Hecho por Joaquín Oportus</h1>
<br/>
<a href='https://github.com/joportus'>
  <img src="https://global-uploads.webflow.com/5f5a53e153805db840dae2db/6073fbf151fa4565d48572dc_GitHub_aprender-programaci%25C3%25B3n.jpeg" alt="" style="width:21rem;height:13rem;">
</a>
<br/>
<br/>
<blockquote class="blockquote text-justify">
  <h3 class="display-6">Esta página web toma datos de computadores en solotodo y se actualiza automáticamente.
    El propósito de esta página es simplificar aún más la busqueda de computadores. Solo necesitas saber para qué
    vas a usar el computador y cuanto presupuesto tienes!
  </h3>
</blockquote>


