<div class="container">
  <br/>
  <h1 class="display-2">Como usar la página:</h1>
  <br/>
  <br/>
  <ul class="list-group">
    <li class="list-group-item">
      <h4 class="display-6"> Cuando eliges presupuesto, esto te va a mostrar computadores partiendo de 0 pesos (CLP) hasta el presupuesto que elegiste.</h4>
    </li>
    <li class="list-group-item">
      <h4 class="display-6"> Los computadores se muestran en orden y se ordenan de mejor a peor. Por ejemplo, si elegiste gaming, te mostrará primero
        el computador con mayor puntaje gaming (calculado segun rendimiento de componentes), después el segundo y así sucesivamente (dentro del rango de presupuesto obviamente).</p>
    </li>
    <li class="list-group-item">
      <h4 class="display-6"> Finalmente si es que te gusta alguno, puedes clickear en "donde comprar" y te llevaremos a solotodo, donde podrás ver más detalles
        del computador, reseñas de éste y donde comprarlo!</h4>
    </li>
  </ul>
</div>

